* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

.characters {
  padding: 20px;
  background-color: #000;
}

.characters__cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

@media screen and (min-width: 768px) {
  .characters__cards {
    max-width: 1360px;
  }
}